<!doctype html>
<html lang="en" manifest="app.appcache">
<head>
  <title>Wall</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:js -->
  <script src="jspm_packages/system.js"></script>
  <script src="config.js"></script>
  <script>
    System.import('app/app').catch(function(err){ console.error(err); });
  </script>
  <!-- endbuild -->
</head>
<body ng-app="app" ng-controller="mainController as main">
  <md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>The Wall Application</h2>
      </div>
    </md-toolbar>
  </md-content>
  <md-content>
    <md-progress-circular md-mode="indeterminate" ng-if="main.loading"></md-progress-circular>
    <div ng-if="!main.loading">
      Name: {{main.result.name}} <br />
      Description: {{main.result.description}}
    </div>
  </md-content>
</body>
</html>